
// Fonts //
$font-family-headers: 'PT Serif';
$font-family-paragraph: 'Nunito';

// Colors //
$color-black: #191919;
$color-green: #c0e8dd;
$color-pink: #f6d9ea;
$color-dark-purple: #d29fbb;
$color-light-purple: #d2d5ea;
$color-light-gray: #F3F3F5;